
.column1 {
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: 50px;
	width: 90%;
	max-width: 800px;
	padding: 2em;
	background-color: #c2c2c2


}

/* home page */

.page-home {
	border: 10px solid #eee;
	float: left;
	width: 50%
}


}

/* inside page */

.page-inside .container {
	border: 1px solid #eee;
}
