

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* Scale down images and embedded videos so they don't overflow their parents */
img
object {
	max-width: 100%;
}


/* the whole navbar */
.navbar {
	margin-left: auto;
	margin-right: auto;
	width: 830px;
	color: #000000;
	margin-top: 0px;
	float: center;
}
